<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google" content="notranslate" />
	<meta name="title" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Dekanor | </title>
	<link rel="canonical" href="https://dekanor.com/">
	<meta property="og:locale" content="en_AR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="https://dekanor.com/">
	<meta property="og:site_name" content="">
	<link rel="icon" href="resources/images/dekanor.ico">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" href="/resources/css/variables.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/article
	.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/header.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/footer.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-79KG1JGJ3Y"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-79KG1JGJ3Y');
	</script>
</head>
<body>
	<!-- Header -->
	<% if(login) { %>
	<%- include('templates/headerAdmin') %>
	<% } else { %>
	<%- include('templates/header') %>
	<% } %>
	<!-- Main -->
	<main class="main">
		<% if(login) { %>
		<span class="main__admin">
			<a class="main__edit" onclick="">
				<svg class="main__svg" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
				    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
				        <path d="M4485 5100 c-73 -15 -154 -51 -212 -95 -32 -23 -125 -111 -208 -194 l-150 -151 378 -377 377 -378 160 160 c89 88 177 185 198 215 142 214 115 489 -67 671 -127 127 -305 183 -476 149z"/>
				        <path d="M2833 3578 c-685 -686 -853 -860 -861 -888 -5 -19 -42 -201 -82 -405 -49 -246 -71 -379 -67 -398 9 -35 39 -65 74 -74 38 -9 801 143 840 167 15 10 406 396 868 859 l840 841 -375 375 c-206 206 -377 375 -380 375 -3 0 -388 -384 -857 -852z"/>
				        <path d="M523 4245 c-192 -35 -370 -171 -457 -350 -70 -144 -67 -43 -64 -1805 l3 -1585 22 -65 c33 -96 90 -186 163 -260 75 -75 149 -121 247 -155 l68 -25 1622 0 1622 0 78 25 c201 63 359 231 420 446 17 60 18 125 18 995 l0 931 -30 48 c-44 71 -118 109 -198 102 -70 -6 -125 -39 -164 -99 l-28 -42 -5 -920 c-5 -842 -6 -924 -22 -952 -24 -44 -81 -91 -125 -104 -27 -8 -490 -10 -1584 -8 l-1546 3 -39 27 c-21 15 -50 44 -64 65 l-25 37 -3 1558 c-2 1519 -2 1559 17 1596 11 20 32 49 48 64 63 61 19 58 989 58 673 0 897 3 928 12 57 17 119 82 135 141 27 95 -13 195 -97 244 l-47 28 -905 2 c-712 1 -920 -1 -977 -12z"/>
				    </g>
				</svg>
			</a>
			<a class="main__edit" onclick="">
				<svg class="main__svg" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
				    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
				        <path d="M2015 5100 c-137 -54 -195 -160 -195 -362 l0 -68 155 0 155 0 0 70 0 70 430 0 430 0 0 -70 0 -70 156 0 157 0 -5 113 c-7 167 -50 248 -168 309 l-45 23 -510 2 c-484 2 -513 1 -560 -17z"/>
				        <path d="M825 4351 c-46 -11 -91 -38 -113 -66 -22 -27 -142 -376 -142 -410 0 -35 35 -88 71 -107 32 -17 112 -18 1917 -18 1616 0 1888 2 1917 14 40 17 75 68 75 111 0 41 -106 356 -133 396 -29 43 -65 68 -113 79 -46 11 -3435 11 -3479 1z"/>
				        <path d="M1044 3421 c-50 -30 -64 -58 -64 -125 0 -133 240 -3022 255 -3071 21 -69 62 -124 119 -163 98 -65 40 -63 1232 -60 l1079 3 47 22 c70 32 131 94 162 164 27 60 29 72 152 1596 l124 1536 -20 43 c-39 80 93 74 -1572 74 -1442 0 -1484 -1 -1514 -19z m676 -349 c44 -22 77 -71 85 -125 3 -23 39 -594 80 -1269 82 -1337 81 -1263 24 -1315 -75 -69 -193 -49 -238 40 -20 39 -26 115 -97 1272 -42 677 -74 1251 -71 1276 9 109 119 171 217 121z m928 -9 c14 -10 35 -32 46 -47 21 -27 21 -30 21 -1311 0 -1281 0 -1284 -21 -1311 -31 -43 -67 -65 -112 -71 -57 -8 -121 25 -150 76 l-22 39 0 1267 0 1267 21 38 c30 54 82 82 142 77 27 -2 60 -13 75 -24z m910 0 c48 -36 65 -78 64 -154 -4 -191 -144 -2468 -153 -2492 -26 -64 -110 -107 -179 -92 -44 10 -98 60 -110 103 -8 28 7 334 64 1289 62 1045 78 1258 92 1288 15 33 48 64 84 78 29 12 111 0 138 -20z"/>
				    </g>
				</svg>
			</a>
		</span>
		<% } %>
		<img class="main__img" src="/fileUpload/noticias/images/<%= results[0].image %>" alt="<%= results[0].title %>">
		<article class="main__article">
			<h1 class="main__title"><%= results[0].date %> | <%= results[0].title %></h1>
			<p class="main__text noticia-content"><%= results[0].content %></p>
		</article>
	</main>
	<% if (!login) { %>
	<section class="articles">
		<h2 class="articles__title">NOTICIAS SIMILARES:</h2>
		<section class="noticia">
			<span class="noticia__texts">
				<h2 class="noticia__title"><b class="noticia__date">28.01.22</b> | Resumen semanal Federico Fontana</h2>
				<p class="noticia__text noticia-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a class="noticia__enlace">VER MÁS</a>
			</span>
			<img class="noticia__img" src="/fileUpload/noticias/images/image.jpg" alt="">
		</section>
		<section class="noticia">
			<span class="noticia__texts">
				<h2 class="noticia__title"><b class="noticia__date">28.01.22</b> | Resumen semanal Federico Fontana</h2>
				<p class="noticia__text noticia-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a class="noticia__enlace">VER MÁS</a>
			</span>
			<img class="noticia__img" src="/fileUpload/noticias/images/image.jpg" alt="">
		</section>
	</section>
	<% } %>
	<!-- Footer -->
	<% if(!login) { %>
	<%- include('templates/footer') %>
	<% } %>

	<script src="/resources/scripts/header.js"></script>
	<script src="/resources/scripts/article.js"></script>
</body>
</html>