<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google" content="notranslate" />
	<meta name="title" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Dekanor | </title>
	<link rel="canonical" href="https://dekanor.com/">
	<meta property="og:locale" content="en_AR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="https://dekanor.com/">
	<meta property="og:site_name" content="">
	<link rel="icon" href="resources/images/dekanor.ico">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" href="/resources/css/variables.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/noticias
	.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/header.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/footer.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-79KG1JGJ3Y"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-79KG1JGJ3Y');
	</script>
</head>
<body>
	<!-- Header -->
	<% if (!login){ %>
		<%- include('templates/header') %>
	<% } else { %>
		<%- include('templates/headerAdmin') %>
	<% } %>
	<!-- Main -->
	<main class="main">
		<span class="main__titles">
			<h1 class="main__title">DEKANOR NOTICIAS</h1>
			<% if(login == true){ %>
			<a class="main__addLink" href="/admin/noticias/add">
				<svg class="main__add" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
				    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
				        <path d="M594 4955 c-207 -45 -385 -225 -430 -434 -11 -55 -14 -373 -14 -1957 0 -1298 3 -1909 11 -1950 17 -99 82 -219 158 -295 78 -78 198 -142 301 -159 45 -8 459 -10 1375 -8 l1310 3 66 22 c130 45 258 150 319 264 57 107 63 133 69 308 l6 164 90 18 c367 74 674 313 840 653 345 706 -71 1545 -845 1704 l-85 17 -5 335 c-5 316 -6 337 -25 362 -33 44 -1084 939 -1121 954 -48 20 -1927 19 -2020 -1z m1816 -684 c0 -396 0 -398 23 -431 12 -19 38 -43 57 -54 34 -20 52 -21 503 -24 l467 -3 0 -228 0 -229 -67 -12 c-308 -57 -604 -257 -778 -524 -311 -476 -246 -1107 155 -1506 103 -103 206 -175 343 -240 96 -46 271 -100 323 -100 l24 0 0 -132 c0 -119 -3 -139 -24 -184 -13 -28 -43 -67 -67 -87 -83 -71 -2 -68 -1435 -65 l-1289 3 -41 22 c-53 28 -99 74 -127 127 l-22 41 0 1915 0 1915 22 41 c39 73 105 127 178 145 17 4 418 7 893 8 l862 1 0 -399z m560 -1 c118 -101 219 -187 225 -192 5 -4 -102 -8 -238 -8 l-247 0 0 212 0 211 23 -20 c12 -11 119 -102 237 -203z m879 -1290 c326 -93 566 -344 648 -676 25 -104 23 -294 -6 -409 -82 -337 -353 -598 -695 -671 -91 -19 -271 -19 -363 0 -338 72 -603 324 -694 661 -32 116 -32 326 0 444 92 344 346 585 702 666 93 21 310 13 408 -15z"/>
				        <path d="M976 3441 c-91 -60 -94 -188 -5 -252 l34 -24 802 0 c798 0 802 0 830 21 94 70 96 190 4 251 l-34 23 -801 0 c-768 0 -802 -1 -830 -19z"/>
				        <path d="M980 2838 c-54 -37 -74 -72 -74 -128 0 -54 18 -87 68 -124 27 -20 40 -21 525 -24 l497 -3 34 23 c75 52 96 118 60 193 -15 32 -34 52 -61 65 -36 19 -61 20 -527 20 l-489 0 -33 -22z"/>
				        <path d="M994 2246 c-110 -49 -118 -206 -14 -265 37 -21 49 -21 527 -21 555 0 536 -3 581 81 38 71 20 140 -52 193 -27 20 -40 21 -519 23 -399 2 -498 0 -523 -11z"/>
				        <path d="M990 1638 c-105 -54 -115 -196 -17 -257 34 -21 44 -21 531 -21 543 0 533 -1 575 58 48 68 34 156 -35 208 l-37 29 -486 3 -486 3 -45 -23z"/>
				        <path d="M3540 2688 c-71 -49 -75 -61 -78 -254 l-4 -174 -159 0 c-112 0 -169 -4 -192 -14 -43 -18 -85 -68 -93 -112 -9 -48 19 -118 59 -146 30 -21 44 -23 209 -26 l176 -3 4 -172 c3 -156 5 -175 25 -207 30 -48 71 -70 132 -70 46 0 56 4 94 39 l42 40 5 183 5 183 182 5 182 5 36 35 c61 59 67 131 17 199 -40 54 -71 61 -257 61 l-165 0 0 174 c0 163 -1 175 -23 207 -44 67 -135 88 -197 47z"/>
				    </g>
				</svg>
			</a>
			<% } %>
		</span>
		<section class="main__header">
			<a class="main__slider" href=""></a>
			<section class="main__months">
				<span class="main__select">
					<a class="main__month" href="" title="">Enero 2022</a>
					<a class="main__month" href="" title="">Febrero 2022</a>
					<a class="main__month" href="" title="">Marzo 2022</a>
					<a class="main__month" href="" title="">Abril 2022</a>
					<a class="main__month" href="" title="">Mayo 2022</a>
					<a class="main__month" href="" title="">Junio 2022</a>
					<a class="main__month" href="" title="">Julio 2022</a>
					<a class="main__month" href="" title="">Enero 2022</a>
					<a class="main__month" href="" title="">Febrero 2022</a>
					<a class="main__month" href="" title="">Marzo 2022</a>
				</span>
			</section>
			<a class="main__slider" href=""></a>
		</section>
		<% if(results.length != 0) { %>
		<% results.forEach((data) => { %>
		<section class="noticia">
			<% if(login == true){ %>
			<span class="noticia__admin">
				<a class="noticia__edit" onclick="">
					<svg class="noticia__svg" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
					    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
					        <path d="M4485 5100 c-73 -15 -154 -51 -212 -95 -32 -23 -125 -111 -208 -194 l-150 -151 378 -377 377 -378 160 160 c89 88 177 185 198 215 142 214 115 489 -67 671 -127 127 -305 183 -476 149z"/>
					        <path d="M2833 3578 c-685 -686 -853 -860 -861 -888 -5 -19 -42 -201 -82 -405 -49 -246 -71 -379 -67 -398 9 -35 39 -65 74 -74 38 -9 801 143 840 167 15 10 406 396 868 859 l840 841 -375 375 c-206 206 -377 375 -380 375 -3 0 -388 -384 -857 -852z"/>
					        <path d="M523 4245 c-192 -35 -370 -171 -457 -350 -70 -144 -67 -43 -64 -1805 l3 -1585 22 -65 c33 -96 90 -186 163 -260 75 -75 149 -121 247 -155 l68 -25 1622 0 1622 0 78 25 c201 63 359 231 420 446 17 60 18 125 18 995 l0 931 -30 48 c-44 71 -118 109 -198 102 -70 -6 -125 -39 -164 -99 l-28 -42 -5 -920 c-5 -842 -6 -924 -22 -952 -24 -44 -81 -91 -125 -104 -27 -8 -490 -10 -1584 -8 l-1546 3 -39 27 c-21 15 -50 44 -64 65 l-25 37 -3 1558 c-2 1519 -2 1559 17 1596 11 20 32 49 48 64 63 61 19 58 989 58 673 0 897 3 928 12 57 17 119 82 135 141 27 95 -13 195 -97 244 l-47 28 -905 2 c-712 1 -920 -1 -977 -12z"/>
					    </g>
					</svg>
				</a>
				<a class="noticia__edit" onclick="">
					<svg class="noticia__svg" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
					    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
					        <path d="M2015 5100 c-137 -54 -195 -160 -195 -362 l0 -68 155 0 155 0 0 70 0 70 430 0 430 0 0 -70 0 -70 156 0 157 0 -5 113 c-7 167 -50 248 -168 309 l-45 23 -510 2 c-484 2 -513 1 -560 -17z"/>
					        <path d="M825 4351 c-46 -11 -91 -38 -113 -66 -22 -27 -142 -376 -142 -410 0 -35 35 -88 71 -107 32 -17 112 -18 1917 -18 1616 0 1888 2 1917 14 40 17 75 68 75 111 0 41 -106 356 -133 396 -29 43 -65 68 -113 79 -46 11 -3435 11 -3479 1z"/>
					        <path d="M1044 3421 c-50 -30 -64 -58 -64 -125 0 -133 240 -3022 255 -3071 21 -69 62 -124 119 -163 98 -65 40 -63 1232 -60 l1079 3 47 22 c70 32 131 94 162 164 27 60 29 72 152 1596 l124 1536 -20 43 c-39 80 93 74 -1572 74 -1442 0 -1484 -1 -1514 -19z m676 -349 c44 -22 77 -71 85 -125 3 -23 39 -594 80 -1269 82 -1337 81 -1263 24 -1315 -75 -69 -193 -49 -238 40 -20 39 -26 115 -97 1272 -42 677 -74 1251 -71 1276 9 109 119 171 217 121z m928 -9 c14 -10 35 -32 46 -47 21 -27 21 -30 21 -1311 0 -1281 0 -1284 -21 -1311 -31 -43 -67 -65 -112 -71 -57 -8 -121 25 -150 76 l-22 39 0 1267 0 1267 21 38 c30 54 82 82 142 77 27 -2 60 -13 75 -24z m910 0 c48 -36 65 -78 64 -154 -4 -191 -144 -2468 -153 -2492 -26 -64 -110 -107 -179 -92 -44 10 -98 60 -110 103 -8 28 7 334 64 1289 62 1045 78 1258 92 1288 15 33 48 64 84 78 29 12 111 0 138 -20z"/>
					    </g>
					</svg>
				</a>
			</span>
			<% } %>
			<% if(login == true){ %>
			<a class="noticia__article" href="admin/noticias/<%= data.title.replace(/ /g, '_') %>&&<%= data.id %>">
			<% } else { %>
			<a class="noticia__article" href="/noticias/<%= data.title.replace(/ /g, '_') %>&&<%= data.id %>">
			<% } %>
				<span class="noticia__texts">
					<h2 class="noticia__title"><b class="noticia__date"><%= data.date %></b> | <%= data.title %></h2>
					<p class="noticia__text noticia-content"><%= data.content %></p>
					<p class="noticia__enlace">VER MÁS</p>
				</span>
				<img class="noticia__img" src="/fileUpload/noticias/images/<%= data.image %>" alt="<%= data.title %>">
			</a>
		</section>
		<% }) %>
		<% } %>
	</main>
	<% if(!login) { %>
	<!-- Footer -->
	<%- include('templates/footer') %>
	<% } %>

	<script src="/resources/scripts/header.js"></script>
	<script src="/resources/scripts/noticias.js"></script>
</body>
</html>